<!DOCTYPE html>
<html ng-app="app"> <!--xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--todo підключити бібліотеки через webjars!!!-->
<head>
    <title>Intro page</title>
    <!--<link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"-->
          <!--href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen"/>-->
    <!--&lt;!&ndash;<script type="text/javascript" th:inline="javascript" th:src="@{/../public/js/controllers.js}"></script>&ndash;&gt;-->
    <script src="../public/js/controllers.js"></script>
    <script src="../public/js/angular.min.js"></script>
</head>
<body>

<div ng-controller="userController">
    <h4>Hello {{user.name}}</h4>
    <h4>{{user.login}}</h4>
</div>

</body>
</html>