<!DOCTYPE html>
<html ng-app="introApp">
<head>
    <title>Intro page</title>
    <meta charset="UTF-8">
</head>
<script src="../resources/angular.js"></script>
<script src="../js/introcontrollers.js"></script>
<link rel="stylesheet" href="../css/snippetForm.css">
</head>

<body>


<div ng-controller="introAppController">

    <script>var isLogin = true;</script>

    <!--
    <div align="center">
    <img src="../resources/images/notepadLogo.png" width="90" height="90">
    <h1 style="font-size:300%; color:#fafafa; display: inline-block;">Органайзер</h1>
    </div>
-->
    <section ng-hide="!isLogin" class="container">
        <div class="login">
            <h1>Sign up</h1>
            <p><input type="text" ng-model="user.login" value="" placeholder="Login"></p>
            <p><input type="text" ng-model="user.name" value="" placeholder="Name"></p>
            <p><input type="password" ng-model="user.password" value="" placeholder="Password"></p>
            <p class="remember_me">
                <label ng-click="isLogin = !isLogin">
                    Увійти
                </label>
            </p>
            <p class="submit"><input ng-click="registerUser()" type="submit" name="commit"  value="Sign up"></p>
        </div>
    </section>



    <section ng-hide="isLogin" class="container">
        <div class="login">
            <h1>Log in</h1>
            <form method="post" action="/">
                <p><input type="text" name="login" value="" placeholder="Login"></p>
                <p><input type="password" name="password" value="" placeholder="Password"></p>
                <p class="remember_me">
                    <label ng-click="isLogin = !isLogin">
                        Create an account?
                    </label>
                </p>
                <p class="submit"><input type="submit" name="commit" value="Log in"></p>
            </form>
        </div>
    </section>

</div>


</body>
</html>